.panel {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.p1 {
  background-color: rgb(47, 164, 41);
}
.p2 {
  background-color: rgb(55, 21, 4);
}
.p3 {
  background-color: rgb(255, 220, 23);
}
.p4 {
  background-color: rgb(231, 150, 44);
}
.p5 {
  background-color: rgb(235, 99, 75);
}
.p6 {
  background-color: rgb(100, 100, 100);
}

.logo {
  width: 100%;
  height: 25vh;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.logo.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

/*manifesto*/

body#manifesto {
  background-color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
}
#manifesto div#container {
  width: 50vw;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

#manifesto div#container p {
  font-size: 1vw;
  margin: 20px;
  text-align: center;
}
#manifesto div#container h1 {
  font-size: 2vw;
  margin: 10px;
  text-align: center;
}
