/* main styles*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: black;
  width: 540px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: width 0.5s ease-in-out;
}

.logo {
  width: 80px;
  height: 100%;
  background-image: url("./assets/cohub1.png");
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
}

.mains {
  background-color: rgb(0, 0, 0);
  width: 450px;
  height: 100%;
  position: relative;
  overflow: auto;
  transition: width 0.5s ease-in-out;
}

section {
  margin-top: 5px;
  width: 100%;
  height: 130px;

  z-index: 0;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

#frame {
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid black;
  z-index: 1;
  background-color: white;
  transform: translateY(100vh);
  visibility: hidden;
  pointer-events: none;
}

#frame.is-visible {
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

section img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* animations */

iframe {
  width: 100%;
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
}

/* responsive */
@media (min-width: 901px) {
  .main-container {
    width: 540px;
  }

  .mains {
    width: 450px;
  }

  section {
    width: 100%;
  }

  #frame {
    left: 50%;
    width: 50%;
    transform: translateX(100%);
  }

  .main-container.is-open {
    width: 990px;
  }

  .main-container.is-open .mains {
    width: 900px;
  }

  .main-container.is-open section {
    width: 450px;
  }

  .main-container.is-open #frame {
    visibility: visible;
    pointer-events: auto;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 700px) {
}
