body {
  background-color: rgb(182, 130, 193);
  width: 100%;
  height: 100vh;
  margin: 0;
}
div#container {
  width: 50vw;
  max-width: 50vw;
  height: 100vh;
  color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
}

div#container div#text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  box-sizing: border-box;
}
div#image {
  width: 50vw;
  max-width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div#image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
